<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.dao.BannerDAO">

    <insert parameterType="com.baizhi.entity.Banner" id="insert">
      insert into t_banner values (#{id},#{title},#{imgPath},#{desc},#{status},#{createDate})
    </insert>

    <update id="update">
      update t_banner set title=#{title},imgPath=#{imgPath},`desc`=#{desc},status=#{status},createDate=#{createDate} where id=#{id}
    </update>

    <delete id="delete">
       delete from t_banner where id=#{id}
    </delete>

    <select id="queryAll" resultType="com.baizhi.entity.Banner">
     select id,title,imgPath,`desc`,`status`,createDate from t_banner
    </select>

    <select id="queryOne" resultType="com.baizhi.entity.Banner">
      select id,title,imgPath,`desc`,`status`,createDate from t_banner where id=#{id}
    </select>

    <select id="queryByPage" resultType="com.baizhi.entity.Banner">
       select id,title,imgPath,`desc`,`status`,createDate from t_banner limit #{start},#{rows}
    </select>

    <select id="queryTotals" resultType="long">
       select count(id) from t_banner
    </select>

</mapper>
