<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.dao.GuruDAO">

    <insert parameterType="com.baizhi.entity.Guru" id="insert">
      insert into t_guru values (#{id},#{name},#{headPicPath},#{sex},#{status})
    </insert>

    <update id="upload">
     update t_guru set headPicPath=#{headPicPath} where id=#{id}
    </update>


    <update id="update">
      update t_guru set name=#{name},headPicPath=#{headPicPath},`sex`=#{sex},status=#{status} where id=#{id}
    </update>

    <delete id="delete">
       delete from t_guru where id=#{id}
    </delete>

    <select id="queryAll" resultType="com.baizhi.entity.Guru">
     select id,`name`,headPicPath,`sex`,`status` from t_guru
    </select>

    <select id="queryOne" resultType="com.baizhi.entity.Guru">
      select id,`name`,headPicPath,`sex`,`status` from t_guru where id=#{id}
    </select>

    <select id="queryByPage" resultType="com.baizhi.entity.Guru">
       select id,`name`,headPicPath,`sex`,`status` from t_guru limit #{start},#{rows}
    </select>

    <select id="queryTotals" resultType="long">
       select count(id) from t_guru
    </select>

</mapper>
